<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Courses</h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="/course/data-binding">Component & Data-Binding</a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" ><a routerLink="/course/parent-server">property & Event Binding</a></li>
          <li class="list-group-item" ><a routerLink="/course/view-encapsulation">View Encapsulation</a></li>
          <li class="list-group-item" ><a routerLink="/course/view-child">View Child</a></li>
          <li class="list-group-item" ><a routerLink="/course/view-children">View Children</a></li>
          <li class="list-group-item" ><a routerLink="/course/ng-parent">Ng Content</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a routerLink="/course/directive">Directive</a></li>
      <li class="list-group-item"><a routerLink="/course/services">Services</a></li>
      <li class="list-group-item"><a routerLink="/course/routes">Routes</a></li>
      <li class="list-group-item"><a>Forms</a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" ><a routerLink="/course/template-driven">Template Driven</a></li> 
          <li class="list-group-item" ><a routerLink="/course/reactive">Reactive Form</a></li>         
        </ul>
      </li>
    </ul>
  </div>
</div>