<div class="container">
    <div class="row server">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Server Name</th>
                    <th scope="col">Server Discription</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let server of serverElements">
                    <td>{{server?.type}}</td>
                    <td>{{server?.dis}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row server">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control"  [(ngModel)]='serverName'/>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control"  [(ngModel)]='serverType'/>
            </div>
        </div>
        <div class="row server">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary"(click)="addServer({type : serverName , dis : serverType})">Add Server</button>
            </div>
          </div>
    
    </div>
</div>