<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="col-xs-12">
                <h1>Welcome to Angular Udemy Course</h1>
                <hr>
                <app-servers></app-servers>
                <!--  <div app-servers></div>   use selecor as a attribute
                    <div class="app-servers"></div> use selecor as a class -->
            </div>
            <div class="col-xs-12 button">
                <button type="button" class="btn btn-primary"
                    routerLink="/assiggnment/assignment-home">Assignment</button>
                <button type="button" class="btn btn-primary assignment"
                    routerLink="/course/course-home">Courses</button>
            </div>
        </div>
    </div>
</div>