<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4>get queryParams data using queryParams observable</h4>
                    <h5>userId : {{userId}}</h5>
                    <h5>userName : {{userName}}</h5>
                </div>
                <div class="col-sm-12">
                    <h4>get queryParams data using snapshot</h4>
                    <h5>userId : {{uId}}</h5>
                    <h5>userName : {{uName}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>